@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blokada";
}

<hgroup>
    <h1 class="text-danger">Konto zablokowane</h1>
    <h2 class="text-danger">To konto zostalo czasowo zablokowane.</h2>
</hgroup>
