@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Wiadomość odnośnie zresetowania hasła została wysłana na podaną przez ciebei skrzynkę pocztową.
    </p>
</div>
	
