@{
    ViewBag.Title = "Więcej o projekcie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>Zaimplementowane cechy</h2>
<ul>
    <li>Synchronizacja z bazą danych</li>
    <li>Użytkownicy i prawa dostępu</li>
    <li>Przegląd bazy (wylistowanie)</li>
    <li>Dodawanie,edycja,usuwanie rekordów.</li>
    <li>Protokół HTTPS</li>
</ul>
