@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Grzegorz Budzyn<br />
    <abbr title="Mail"><strong>Mail: </strong></abbr>
    <a href="mailto:hunterpl.grzesiu@gmail.com">hunterpl.grzesiu@gmail.com</a><br />
    <abbr title="Tel"><strong>Tel: </strong></abbr>
    722 214 246
</address>